@charset "UTF-8";
/*******************************
  productContents.scss
  상품컨텐츠 css
********************************/

.productContents {
  display: grid;
  grid-template-columns: auto 200px;

  .left_side {
    & > form {
      .headed {
        width: 100%;

        .title_boxing {

        }
      }

      .content {
        width: 100%;

        .content_boxing {
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: 5px;
          position: relative;

          .formBox {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;

            & > textarea {
              height: 100%; // formBox 추종

            }
          }
        }
      }

      .bottom_boxing {

      }
    }
  }
}
