@charset "UTF-8";
/*******************************
  styles/form/enhancedTextArea.scss
  enhancedTextArea css
********************************/

@mixin wrapper-img($height: 400px) {
  height: $height;
  display: flex;

  img {
    max-height: 100%;
    height: auto;
    width: auto;
    max-width: 100%;
    display: block;
  }
}

@mixin wrapper-prev {
  border: solid rgba(255, 255, 255, 0) 2px;
  border-radius: 3px;
}

@mixin wrapper-unfrozen {
  border: solid #db5cf8 2px;
  border-radius: 3px;
}

@mixin wrapper-idle {
  border: solid #f1bc0f 2px;
  border-radius: 3px;
}

@keyframes unFrozen-gradually-on-img {
  from {
    @include wrapper-idle
  }

  to {
    @include wrapper-unfrozen
  }
}

@keyframes frozen-gradually-on-img {
  from {
    @include wrapper-unfrozen
  }

  to {
    @include wrapper-prev
  }
}

@keyframes idled-gradually-on-img {
  from {
    @include wrapper-prev
  }

  to {
    @include wrapper-idle
  }
}

@keyframes deIdled-gradually-on-img {
  from {
    @include wrapper-idle
  }

  to {
    @include wrapper-prev
  }
}

.enhanced_textArea {
  width: 100%;
  height: 100%;

  & > textarea {
    height: 100%; // formBox 추종
  }

  .enhanced_textArea_box {
    display: flex;
    flex-direction: column;

    .per_content_element {
      // editing 모드에서 각 문단, 이미지 영역의 최상단 wrapper 영역
      width: 100%;
      padding: 2px 0 2px 0;

      & > .ant-input {
        font-size: medium;
      }

      .per_img_element {
        display: grid;
        grid-template-rows: auto 25px;

        .img_wrapper {
          @include wrapper-img;
        }

        .img_title_wrapper {
          display: flex;
          flex-direction: row;
          padding: 2px;

          p {
            padding: 2px;
            font-size: small;
          }

        }

        &.unFrozen {
          animation-duration: 0.3s;
          animation-name: unFrozen-gradually-on-img;
          @include wrapper-unfrozen;
        }

        &.frozen {
          animation-duration: 0.2s;
          animation-name: frozen-gradually-on-img;
          @include wrapper-prev;
        }

        &.hovered {
          animation-duration: 0.2s;
          animation-name: idled-gradually-on-img;
          @include wrapper-idle;
        }
        &.leaved {
          animation-duration: 0.2s;
          animation-name: deIdled-gradually-on-img;
          @include wrapper-prev;
        }
      }
    }

    .flex-preview-area {
      // editing 모드에서 지정된 높이에 따라 column directed flex 처리
      display: flex;
      flex-direction: column;

      .per_preview_element {

        .img_wrapper {
          @include wrapper-img;

        }
        .text_wrapper {

        }
      }
    }
  }
}