@charset "UTF-8";

/*******************************
  srcEnumerator.scss
  'product/' srcEnumerator 컴포넌트에 대하여 적용됨
********************************/


.srcEnumerator {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  .upper {

    //display: grid;
    //grid-template-rows: 100px 1fr;

    height: 100%;

    .main {

      display: flex;
      flex-direction: column;
      overflow-y: scroll;
    }
  }

  .bottom {
    margin-top: 5px;
  }

}